div.jumbotron {
  text-align: center;
}

div.auth-container {
  text-align: center;

  button {
    margin-bottom: 10px;
  }
}

div.check-container {
  text-align: center;

  button {
    margin-bottom: 10px;
  }
}